<div id="header-wrapper">
  <div id="header">
    <div>
      <a class="logo" href="/developer/">RoQua Developer</a>
      <ul class="nav">
        <%= nav_link @items.find { |i| i.identifier.without_exts == '/developer' } %>
        <%= nav_link @items.find { |i| i.identifier.without_exts == '/developer/core' } %>
        <%= nav_link @items.find { |i| i.identifier.without_exts == '/developer/rom' } %>
        <%= nav_link @items.find { |i| i.identifier.without_exts == '/developer/quby' } %>
        <li><a href="http://www.roqua.nl/contact">S.without_extsupport</a></li>
      </ul>
    </div>
  </div><!-- #header -->
</div><!-- #header-wrapper -->
