<div id="header-wrapper">
  <div id="header">
    <div>
      <a class="logo" href="/en/">RoQua</a>
      <ul class="nav">
        <li><%= render '_language_toggle' %></li>
        <%= nav_link @items.find { |i| i.identifier == '/en/' } %>
        <%= nav_link @items.find { |i| i.identifier == '/en/rom_manual/' } %>
        <%= nav_link @items.find { |i| i.identifier == '/en/medo_manual/' } %>
        <%= nav_link @items.find { |i| i.identifier == '/en/developer/' } %>
        <li><a href="https://www.roqua.nl/contact">Helpdesk</a></li>
      </ul>
    </div>
  </div><!-- #header -->
</div><!-- #header-wrapper -->
